
log4j.rootLogger=WARN, stderr

log4j.appender.stderr=org.apache.log4j.ConsoleAppender
log4j.appender.stderr.layout=org.apache.log4j.PatternLayout
log4j.appender.stderr.layout.ConversionPattern={ "origin": "kafka", "timestamp": "%d", "level": "%p", "class": "%c", "message": "%m" }%n
log4j.appender.stderr.Target=System.err